.cover__link {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 1s ease;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {

  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) {

  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}