.header {
  max-width: 92%;
  margin: 0 auto 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

@media (max-width: 1180px) {
  .header {
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {

  .header {
    padding-top: 16px;
  }
}