.header {
  max-width: 1184px;
  margin: 0 auto 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

@media (max-width: 1180px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
  }
}

@media (max-width: 1023px) {

  .header {
    max-width: 720px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {

  .header {
    max-width: 288px;
    padding-top: 16px;
    margin-bottom: 48px;
    
  }
}