.footer {
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 92%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {

  .footer {
    max-width: 320px;
    min-height: 310px;
    flex-direction: column;
    padding-left: 16px;
  }  
}