.intro__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 767px) {

  .intro__title {
    max-width: 250px;
    font-size: 32px;
  }
}